%h2 ELAN annotation exports

%ul
  - @tag_files.group_by(&:level_id).each do |level, tag_files|
    %li
      %a{href: "/Annotations/#{level}"}= level
      = "(#{tag_files.count} sessions): "
      = tag_files.map(&:session_id).join(', ')
