%h2 Level #{@level} ELAN annotations

- @tag_files.each do |file|
  %h3
    Session #{file.session_id}
  %h4 Stats
  %ul
    %li #{file.level_duration} sec. in total
    %li #{file.annotations.count} annotations
    %li
      #{file.annotations_total.round(3)} sec. annotated
      (#{(file.annotations_coverage * 100).round(2)}&thinsp;%, based on two tiers)

  %h4 Annotation types
  %ul
    - file.annotations.group_by{ |a| a.text }.sort.each do |text, a|
      %li
        = "#{text}: #{a.count} times"
        = "(#{a.inject(0){ |sum, a| sum + a.duration }.round(3)} sec.)"
