%h2 Export: #{@table.description}

%p
  %a{href: "/Exports/#{@table.class_name}.tsv"} Download

%table.export
  %tr
    - @table.headers.each do |col|
      %th= col.to_s
  - @table.data.each do |row|
    %tr
      - @table.headers.each do |col|
        %td= row[col]
