%h2 Files

%h3 #{@storage.log_files.count} gaming logs files
%ul
  - @storage.log_files.map(&:session_id).to_ranges.each do |range|
    %li= range

%h3 #{@storage.screen_videos.count} screen recordings (Camtasia TREC)
%ul
  - @storage.screen_videos.map(&:session_id).to_ranges.each do |range|
    %li= range

%h3 #{@storage.camera_videos.count} camera recordings (MPEG 2 stream)
%ul
  - @storage.camera_videos.map(&:session_id).to_ranges.map(&:to_s).each do |range|
    %li= range
