%html
  %head>
    %meta{charset: 'utf-8'}
    %title FP SGI research data inventory
    :sass
      body
        font-family: Tahoma
        .container
          margin: 2em 2em
          h1
            font-size: 3em
            margin: 0
          h2
            font-size: 1.6em
          h3
            font-size: 1.2em
          h4
            font-size: 1em
          a
            color: black
          .nav
            border-top: 1px solid black
            border-bottom: 1px solid black
            margin: 1em 0
            a + a
              margin-left: 1em
          .date
            border-top: 1px solid black
            font-size: .8em
          table.export
            font-size: .8em
            td, th
              padding: 0 .5em
              text-align: center
            th
              border-bottom: 1px solid black
  %body
    .container
      %h1 Inventory
      .nav
        %p
          %a{href: '/Files'}       Files
          %a{href: '/Sessions'}    Sessions
          %a{href: '/Conditions'}  Conditions
          %a{href: '/Annotations'} Annotations
          %a{href: '/Exports'}     Exports
      = yield
      .date
        %p Last updated #{Time.now.strftime('%Y-%m-%d %H:%M')}