%h2 Session #{@session.id}

%h3 Research data
%ul
  %li
    Log:
    #{@session.log.file_start_time.strftime(Inventory::TIME_FORMAT)}
    (#{@session.log.events.count} events)
  %li
    Screen:
    #{@session.screen.file_start_time.strftime(Inventory::TIME_FORMAT)}
  %li
    Camera:
    #{@session.camera.file_start_time.strftime(Inventory::TIME_FORMAT)}

%h3 Conditions (based on session id)
%ul
  - @session.computed_conditions.each do |condition|
    %li= condition

%h3 Levels played (according to log file)
%ul
  - @levels.each do |level|
    %li
      Level #{level.counter}:
      Scene #{level.scene.gsub('_', ' ')}
      (#{level.duration.round(3)} sec.)

%h3 Levels annotated
%ul
  - @session.tagfiles.each do |tagfile|
    %li
      Level #{tagfile.level_id}
      (#{tagfile.level_duration.round(3)} sec.)
